extends index
block title
    h1 Hi, #{name}
block description
    p hellonest #{resetToken}
    //- a(href=`${req.protocol}://${req.get('host')}/api/v1/users/resetPassword/${resetToken}`) Reset your password